*{
text-align:center	
}
table {
	width: 500px;
	margin: 0 auto;
}

tr>td:first-child {
	background-color: yellow;
}

tr:last-child>td:first-child {
	background-color: white;
}

tr:last-child {
	background-color: green;
}

table, th, td{border : 1px solid gray}